html, body{
    height: 99%;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
}
#gameBoardContainer{
    display: grid;
    
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
    height: 70%;
    width: 50%;
}
#gameBoardWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cell{
    display: flex;
    color: white;
    border: solid black 1px;
    height: 300px;
    width: 420px;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    height: 100%;
    border: white solid 1px;
}
#message{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
#reset{
    color: white;
    background-color: #0f172a;
    border: solid white 1px;
    margin-top: 3%;
    width: 4%;
    height: 3%;
}
#reset:hover{
    cursor: pointer;
}